* {
  font-family: "Bebas Neue", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background: rgb(34, 15, 1);
}

.game-title {
  background: rgb(20, 209, 20);
  width: 90%;
  max-width: 700px;
  margin: 100px auto 0;
  border-width: 3px;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  padding: 35px;
}

#fist-icon {
  padding-left: 8px;
}

div h1 {
  color: rgb(34, 15, 1);
  font-size: 110px;
  font-weight: 900;
  text-decoration: overline underline;
  padding-top: 10px;
  margin-right: 10px;
  text-align: center;
}

#logo-img {
  width: 95px;
  height: 95px;
  float: left;
  border: 5px solid rgb(34, 15, 1);
  border-radius: 15px;
  margin-right: 25px;
  margin-top: 10px;
}

.colonel-img {
  width: 150px;
  height: 150px;
  border: 2px solid black;
  border-radius: 40px;
  margin: auto;
  display: block;
  margin-bottom: 25px;
}

.game-body {
  background: rgb(20, 209, 20);
  width: 90%;
  max-width: 750px;
  margin: 100px auto 0;
  border-width: 5px;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  padding: 30px;
}

.intro-text {
  text-align: center;
  color: rgb(65, 59, 59);
  font-size: 24px;
}

.intro-btn {
  margin-top: 50px;
}

#start-btn {
  font-size: 25px;
  background: rgb(103, 85, 85);
  color: black;
  font-weight: 500;
  border: 1px solid black;
  padding: 10px;
  margin: auto;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
  display: block;
}

#start-btn:hover {
  background: black;
  color: blanchedalmond;
}

.brief-mesg {
  border: 5px solid rgb(34, 15, 1);
  border-radius: 10px;
}

.lvl-intro-text {
  padding: 10px;
  text-align: center;
  color: rgb(65, 59, 59);
  font-size: 24px;
  background: blanchedalmond;
}

.gameplay {
  display: none;
}

.gameplay.active {
  display: block;
}

#difficulty-lvls {
  margin-top: 50px;
}

.difficulty-lvl-Btn {
  max-width: 750px;
  width: 90%;
  padding: 20px;
  margin: 25px auto;
  background-color: rgb(6, 72, 26);
  color: blanchedalmond;
  font-weight: 600;
  font-size: 25px;
  cursor: pointer;
  display: block;
  border: 5px solid blanchedalmond;
  border-radius: 8px;
}

.difficulty-lvl-Btn:hover {
    color: gold;
    border: 5px solid gold;
}

.difficulty-lvl-Btn[disabled] {
  cursor: not-allowed;
  background: black;
  color: rgb(65, 59, 59);
  border: 5px solid rgb(65, 59, 59);
}

#questions {
  text-align: center;
}

.question {
  font-size: 30px;
  font-weight: 600;
}

.answer-btns {
  max-width: 750px;
  width: 90%;
  padding: 15px;
  margin: 32px auto;
  background-color: blanchedalmond;
  color: rgb(65, 59, 59);
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
  display: block;
  border: 5px solid black;
  border-radius: 8px;
  text-align: left;
}

.answer-btns.active {
  background: rgb(230, 170, 6);
  color: blanchedalmond;
  border: 5px solid blanchedalmond;
}

.answer-btns.wrong {
  color: blanchedalmond;
  background: red;
  border: 5px solid blanchedalmond;
}

.next-btn-container {
  margin-top: 30px;
  text-align: center;
}

.next-btn {
  font-size: 25px;
  background: rgb(103, 85, 85);
  color: black;
  font-weight: 300;
  border: 1px solid black;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  min-width: 200px;
  display: none;
}

.next-btn.active {
  display: inline;
}

.next-btn:hover {
  background: black;
  color: blanchedalmond;
}

.final-mesg {
    border: 5px solid rgb(34, 15, 1);
    border-radius: 10px;
    background: blanchedalmond;
    text-align: center;

}

#end-score {
    margin: 15px auto;
    font-size: 22px;
}

#end-review {
    margin-bottom: 15px;
    font-size: 22px;
}

.final-btn-container {
    margin-top: 30px;
    text-align: center;
}

.playagain-nextlevel {
    font-size: 25px;
    background: rgb(103, 85, 85);
    color: black;
    font-weight: 300;
    border: 1px solid black;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    min-width: 200px;
}

.playagain-nextlevel:hover {
    background: black;
    color: blanchedalmond;
}